<h2><%= @list.name %></h2>

<div class="cards">>
  <% @list.bookmarks.each do |bookmark| %>
    <br>
    <div class="card-list">
      <h4><%= Movie.find(bookmark.movie_id).title %></h4>
      <%= Movie.find(bookmark.movie_id).overview %>
      <br>
      <%= Movie.find(bookmark.movie_id).poster_url %>
      <br>
      <%= Movie.find(bookmark.movie_id).rating %>
      <br>
      <%= bookmark.comment %>
          <%= link_to "Delete",
                      bookmark_path(bookmark),
                      method: :delete,
                      :class => "text-danger text-decoration-none",
                      data: { confirm: "Are you sure?" } %>
      <br>
    </div>
  <% end %>
</div>

<br>
<%= link_to 'Add the new Bookmark to the List', new_list_bookmark_path(@list) %>
